/*=====================
        margin
======================*/
.m-xs {
  margin: 1rem; }

.m-sm {
  margin: 2rem; }

.m-med {
  margin: 3rem; }

.m-lrg {
  margin: 4rem; }

.m-xl {
  margin: 8rem; }

.m-vert-xs {
  margin: 1rem 0; }

.m-vert-sm {
  margin: 2rem 0; }

.m-vert-med {
  margin: 3rem 0; }

.m-vert-lrg {
  margin: 4rem 0; }

.m-vert-xl {
  margin: 15rem 0; }

.m-hor-xs, .home__icon {
  margin: 0 1rem; }

.m-hor-sm {
  margin: 0 2rem; }

.m-hor-med {
  margin: 0 3rem; }

.m-hor-lrg {
  margin: 0 4rem; }

.m-hor-xl {
  margin: 0 8rem; }

.m-top-xs {
  margin-top: 1rem; }

.m-top-sm {
  margin-top: 2rem; }

.m-top-med {
  margin-top: 3rem; }

.m-top-lrg {
  margin-top: 4rem; }

.m-top-xl {
  margin-top: 8rem; }

.m-right-xs {
  margin-right: 1rem; }

.m-right-sm {
  margin-right: 2rem; }

.m-right-med {
  margin-right: 3rem; }

.m-right-lrg {
  margin-right: 4rem; }

.m-right-xl {
  margin-right: 8rem; }

.m-bottom-xs {
  margin-bottom: 1rem; }

.m-bottom-sm {
  margin-bottom: 2rem; }

.m-bottom-med, .story__content > *:not(:last-child) {
  margin-bottom: 3rem; }

.m-bottom-lrg {
  margin-bottom: 4rem; }

.m-bottom-xl {
  margin-bottom: 8rem; }

.m-left-xs {
  margin-left: 1rem; }

.m-left-sm {
  margin-left: 2rem; }

.m-left-med {
  margin-left: 3rem; }

.m-left-lrg {
  margin-left: 4rem; }

.m-left-xl {
  margin-left: 8rem; }

/*=====================
        padding
======================*/
.pad-xs {
  padding: 1rem; }

.pad-sm {
  padding: 2rem; }

.pad-med {
  padding: 3rem; }

.pad-lrg {
  padding: 4rem; }

.pad-xl {
  padding: 8rem; }

.pad-vertical-xs {
  padding: 1rem 0; }

.pad-vertical-sm {
  padding: 2rem 0; }

.pad-vertical-med {
  padding: 3rem 0; }

.pad-vertical-lrg {
  padding: 4rem 0; }

.pad-vertical-xl {
  padding: 8rem 0; }

.pad-hor-xs {
  padding: 0 1rem; }

.pad-hor-sm {
  padding: 0 2rem; }

.pad-hor-med {
  padding: 0 3rem; }

.pad-hor-lrg {
  padding: 0 4rem; }

.pad-hor-xl {
  padding: 0 8rem; }

.pad-top-xs {
  padding-top: 1rem; }

.pad-top-sm {
  padding-top: 2rem; }

.pad-top-med {
  padding-top: 3rem; }

.pad-top-lrg {
  padding-top: 4rem; }

.pad-top-xl {
  padding-top: 8rem; }

.pad-right-xs {
  padding-right: 1rem; }

.pad-right-sm {
  padding-right: 2rem; }

.pad-right-med {
  padding-right: 3rem; }

.pad-right-lrg {
  padding-right: 4rem; }

.pad-right-xl {
  padding-right: 8rem; }

.pad-bottom-xs {
  padding-bottom: 1rem; }

.pad-bottom-sm {
  padding-bottom: 2rem; }

.pad-bottom-med {
  padding-bottom: 3rem; }

.pad-bottom-lrg {
  padding-bottom: 4rem; }

.pad-bottom-xl {
  padding-bottom: 8rem; }

.pad-left-xs {
  padding-left: 1rem; }

.pad-left-sm {
  padding-left: 2rem; }

.pad-left-med {
  padding-left: 3rem; }

.pad-left-lrg {
  padding-left: 4rem; }

.pad-left-xl {
  padding-left: 8rem; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #6D5D4B;
  font-family: "Nunito", sans-serif;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: [sidebar-start] 6rem [sidebar-end] calc(100vh - 6rem) repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (min-width: 50em) {
    .container {
      grid-template-rows: [sidebar-start] 6rem [sidebar-end] 80vh repeat(6, min-content); } }
  @media only screen and (min-width: 68.125em) {
    .container {
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  .container > * {
    font-size: 1.4rem; }

.heading-1, .heading-2, .heading-3, .heading-4, .home__name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  color: #c69963;
  font-size: 2.5rem; }

.heading-4 {
  font-size: 1.9rem;
  margin: 2rem 0; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }
  @media only screen and (max-width: 52em) {
    .heading-4 {
      text-align: center; } }
  @media only screen and (min-width: 46.5em) {
    .heading-4 {
      margin: 1.5rem 0; } }

.btn,
.btn::before {
  background: #c69963;
  color: #f9f7f6;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.btn:hover {
  background: #B28451; }

.sidebar {
  background: #c69963;
  grid-row: sidebar-start / sidebar-end;
  grid-column: 1 / -1; }
  @media only screen and (min-width: 68.125em) {
    .sidebar {
      grid-row: 1 / -1;
      grid-column: sidebar-start / sidebar-end; } }

.header {
  background-color: rgba(16, 29, 44, 0.8);
  grid-column: full-start / full-end; }
  @media only screen and (min-width: 50em) {
    .header {
      grid-column: full-start / col-end 6; } }
  .header__logo {
    width: 20px; }
  .header__logo-img {
    width: 100%; }

.realtors {
  background: #101d2c;
  grid-column: full-start / full-end;
  grid-row: 3 / 4; }
  @media only screen and (min-width: 50em) {
    .realtors {
      grid-column: col-start 7 / full-end;
      grid-row: 2 / 3; } }
  @media only screen and (min-width: 68.125em) {
    .realtors {
      grid-row: 1 / 2; } }

.features {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  margin: 15rem 0;
  display: grid;
  grid-gap: 3rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .features {
      grid-row: 3 / 4; } }
  @media only screen and (min-width: 68.125em) {
    .features {
      grid-row: 2 / 3; } }

.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (min-width: 52em) {
    .feature {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center; } }
  .feature__icon {
    fill: #c69963;
    margin-right: 1.5rem;
    height: 4rem;
    width: 4rem; }
    @media only screen and (min-width: 64.35em) {
      .feature__icon {
        align-self: start; } }
  .feature__text {
    font-size: 1.7rem;
    line-height: 2rem;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 52em) {
      .feature__text {
        text-align: center; } }

.story__content {
  background: #f9f7f6;
  padding: 4vh 6vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-column: full-start / full-end; }
  @media only screen and (min-width: 50em) {
    .story__content {
      grid-column: col-start 5 / full-end; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic; }

.story__pictures {
  background: linear-gradient(rgba(198, 153, 99, 0.6), rgba(178, 132, 81, 0.6)), url("../img/back.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  grid-column: full-start / full-end;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, [story-col-start] 1fr [story-col-end]);
  grid-template-rows: repeat(6, [story-row-start] 1fr [story-row-end]); }
  @media only screen and (min-width: 50em) {
    .story__pictures {
      grid-column: full-start / col-end 4; } }

.story__img--1 {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  grid-column: story-col-start 2 / span 4;
  grid-row: story-row-start 2 / span 4; }

.story__img--2 {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 115%;
  z-index: 50;
  grid-column: story-col-start 4 / span 4;
  grid-row: story-row-start 3 / span 4; }

.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home__card {
  background-color: #f9f7f6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem; }

.home__img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2; }

.home__name {
  background: #101d2c;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  text-align: center;
  transform: translateY(50%);
  width: 80%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center; }

.home__icon {
  fill: #c69963;
  height: 2rem;
  width: 2rem; }

.home__icon-heart {
  fill: #c69963;
  margin: 1.5rem;
  height: 3rem;
  width: 3rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end; }

.home__location, .home__occupancy {
  margin-top: 2.5rem; }

.home__price, .home__occupancy {
  margin-right: 1.5rem; }

.home__location, .home__occupancy, .home__size, .home__price {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: flex; }

.home__location {
  grid-column: 1 / 2; }

.home__size {
  grid-column: 1 / 2; }
  .home__size sup {
    font-size: 1rem; }

.home__btn {
  grid-column: 1 / 3;
  text-align: center; }

.gallery {
  background: #f9f7f6;
  grid-column: full-start / full-end;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem; }
  .gallery__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .gallery__item--3 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2; }
  .gallery__item--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .gallery__item--6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .gallery__item--7 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1; }
  .gallery__item--8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .gallery__item--9 {
    grid-column: 8 / span 1;
    grid-row: 3 / span 3; }
  .gallery__item--10 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 2; }
  .gallery__item--11 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2; }
  .gallery__item--12 {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2; }
  .gallery__item--13 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3; }
  .gallery__item--14 {
    grid-column: 8 / span 1;
    grid-row: 6 / span 2; }
  .gallery__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  background: #101d2c;
  grid-column: full-start / full-end; }
