.header {
    background-color: rgba($color-secondary, .8);
    grid-column: full-start / full-end;

    @media only screen and (min-width: 50em) {
        grid-column: full-start / col-end 6;
    }

    &__logo {
        width: 20px;
    }

    &__logo-img {
        width: 100%;
    }
}
