.story {

    &__picture {
        background: $color-primary;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background: $color-grey-light-1;
        padding: 4vh 6vw;
        //Flex styles
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        //Grid postitioning
        grid-column: col-start 5 / full-end;

//Applies a margin bottom of 3rem to all except the last child element of the .story__content div
        & > *:not(:last-child) {
            @extend .m-bottom-med;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
    }
}
