/*=====================
        margin
======================*/

.m-xs { margin:1rem; }
.m-sm { margin: 2rem; }
.m-med { margin: 3rem; }
.m-lrg { margin: 4rem; }
.m-xl { margin: 8rem; }

.m-vert-xs { margin: 1rem 0; }
.m-vert-sm { margin: 2rem 0; }
.m-vert-med { margin: 3rem 0; }
.m-vert-lrg { margin: 4rem 0; }
.m-vert-xl { margin: 15rem 0; }

.m-hor-xs { margin: 0 1rem; }
.m-hor-sm { margin: 0 2rem; }
.m-hor-med { margin: 0 3rem; }
.m-hor-lrg { margin: 0 4rem; }
.m-hor-xl { margin: 0 8rem; }

.m-top-xs { margin-top: 1rem; }
.m-top-sm { margin-top: 2rem; }
.m-top-med { margin-top: 3rem; }
.m-top-lrg { margin-top: 4rem; }
.m-top-xl { margin-top: 8rem; }

.m-right-xs { margin-right: 1rem; }
.m-right-sm { margin-right: 2rem; }
.m-right-med { margin-right: 3rem; }
.m-right-lrg { margin-right: 4rem; }
.m-right-xl { margin-right: 8rem; }

.m-bottom-xs { margin-bottom: 1rem; }
.m-bottom-sm { margin-bottom: 2rem; }
.m-bottom-med { margin-bottom: 3rem; }
.m-bottom-lrg { margin-bottom: 4rem; }
.m-bottom-xl { margin-bottom: 8rem; }

.m-left-xs { margin-left: 1rem; }
.m-left-sm { margin-left: 2rem; }
.m-left-med { margin-left: 3rem; }
.m-left-lrg { margin-left: 4rem; }
.m-left-xl { margin-left: 8rem; }

/*=====================
        padding
======================*/

.pad-xs { padding:1rem; }
.pad-sm { padding: 2rem; }
.pad-med { padding: 3rem; }
.pad-lrg { padding: 4rem; }
.pad-xl { padding: 8rem; }

.pad-vert-xs { padding: 1rem 0; }
.pad-vert-sm { padding: 2rem 0; }
.pad-vert-med { padding: 3rem 0; }
.pad-vert-lrg { padding: 4rem 0; }
.pad-vert-xl { padding: 8rem 0; }

.pad-hor-xs { padding: 0 1rem; }
.pad-hor-sm { padding: 0 2rem; }
.pad-hor-med { padding: 0 3rem; }
.pad-hor-lrg { padding: 0 4rem; }
.pad-hor-xl { padding: 0 8rem; }

.pad-top-xs { padding-top: 1rem; }
.pad-top-sm { padding-top: 2rem; }
.pad-top-med { padding-top: 3rem; }
.pad-top-lrg { padding-top: 4rem; }
.pad-top-xl { padding-top: 8rem; }

.pad-right-xs { padding-right: 1rem; }
.pad-right-sm { padding-right: 2rem; }
.pad-right-med { padding-right: 3rem; }
.pad-right-lrg { padding-right: 4rem; }
.pad-right-xl { padding-right: 8rem; }

.pad-bottom-xs { padding-bottom: 1rem; }
.pad-bottom-sm { padding-bottom: 2rem; }
.pad-bottom-med { padding-bottom: 3rem; }
.pad-bottom-lrg { padding-bottom: 4rem; }
.pad-bottom-xl { padding-bottom: 8rem; }

.pad-left-xs { padding-left: 1rem; }
.pad-left-sm { padding-left: 2rem; }
.pad-left-med { padding-left: 3rem; }
.pad-left-lrg { padding-left: 4rem; }
.pad-left-xl { padding-left: 8rem; }
